<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120581051-1"></script>
  <script src="/js/google-analytics.js"></script>
  
  <!-- meta tags -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Lookup Bot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:400,500,700" rel="stylesheet">

  <!-- Sheets -->
  <link rel="stylesheet" type="text/css" media="screen" href="/css/normalize.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/css/feedback.css" />
  
</head>

<!-- BODY -->
<body>

  <!-- content -->
  <div class="container">
    <div class="feedbackBox">
      <img src="/img/alert.png" alt="Success!" class="imageError">
      <div class="message">You've already signed up!<br>We'll email you an invitation in the next wave of beta users!</div>
      <div class="button" onclick="location.href='/';">Back to home</div>
    </div>
  </div><!-- Container close -->
</body>

</html>