/* Variables ================================== */
// colors
$black: #363636;
$greyTitle: #999895;
$bodyBg: #FFFDF8;
$inputBg: #F4F4F4;
$colorPrimary: #3382F6;

// sizes
$gutter: 92px;

// templates
%titles {
  font-size: 28px;
  font-weight: 400;
  margin-top: 32px;
}

%button {
  background-color: $colorPrimary;
  padding: 12px 16px;
  margin-top: 0.5rem;
  text-align: center;
  border-radius: 8px;
  font-weight: 400;
  color: white;
  width: 75%;
  max-width: 200px;
}

/* Page ================================== */

.feedbackBox {
  height: 100vh;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image {
  width: 400px;
  max-width: 100%;
}

.imageError {
  width: 100px;
}

.message {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 24px;
  color: $black;
}

.button {
  @extend %button;
}