/* Variables ================================== */
// colors
$black: #363636;
$greyTitle: #999895;
$bodyBg: #FFFDF8;
$inputBg: #F4F4F4;
$colorPrimary: #3382F6;

// sizes
$gutter: 92px;

// templates
%titles {
  font-size: 28px;
  font-weight: 400;
  margin-top: 32px;
}

%button {
  background-color: $colorPrimary;
  padding: 12px 16px;
  margin-top: 0.5rem;
  text-align: center;
  border-radius: 8px;
  font-weight: 400;
  color: white;
  width: 75%;
  max-width: 200px;
  border: none;
}

/* Globals ================================== */

body {
  font-family: 'Roboto', 'Open Sans';
  background-color: $bodyBg;
}

/* General ================================== */
.container {
  max-width: 1150px;
  margin: auto;
  padding: 0px 32px;
}

/* Navigation ================================== */
.navbar {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.coName {
  @extend %titles;
}

/* Jumbotron ================================== */
.jumbotron {
  padding: 3rem 0px 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info, .graphic {
  flex: 1;
}

.info {
  margin-bottom: 2rem;
}

.title, .subtitle {
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 500;
}

.subtitle {
  margin: 1.5rem 0px;
  color: $greyTitle;
  font-size: 1.25rem;
  line-height: 1.4  ;
  font-weight: normal;
}

.graphic img, .imgDemo {
  max-width: 100%;
}

// form
#formWaitlistMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputText, .buttonSubmit {
  width: 75%;
  max-width: 200px;
}

.inputText {
  border: 0.5px solid lightgrey;
  padding: 12px 16px;
  background-color: $inputBg;
  border-radius: 8px;
  width: 75%;
  max-width: 200px;
}

.buttonSubmit {
  @extend %button;

  &:hover {
    background-color: #2750ae;
  }
}

.errorEmail {
  font-size: 12px;
  display: block;
  margin: 4px auto 0px;
  color: red;
  text-align: center;
}

/* Sections ================================== */

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.contentRow {
  display: flex;
  flex-direction: column;
}

.sectionHeader {
  @extend %titles;
  margin-bottom: 1rem;
}

.sectionDesc, .sectionImg {
  flex: 1,
}

.sectionDesc {
  color: $greyTitle;
  font-size: 16px;
  margin-bottom: 2rem;
  font-weight: normal;
}

.sectionImg {
  text-align: center;
}

.imgDemo {
  width: 400px;
  max-width: 75%;
  margin: auto;
  border-radius: 8px;
  box-shadow:
    0 2px 2px 0 rgba(0,0,0,0.14),
    0 3px 1px -2px rgba(0,0,0,0.2),
    0 1px 5px 0 rgba(0,0,0,0.12);
}

/* Booleans ================================== */
.inactive {
  display: none;
}

/* MEDIA QUERIES ================================== */

// 700 horizontal breakpoint
@media screen and (min-width: 700px) {

  .title, .subtitle {
    padding-right: 20%;
    text-align: left;
  }
  
  .jumbotron, .contentRow {
    flex-direction: row;
  }

  .jumbotron {
    padding-top: 2rem;
  }

  #formWaitlistMain {
    flex-direction: row;
  }
 
  .inputText, .buttonSubmit {
    width: auto;
    max-width: none;
  }
  .buttonSubmit {
    margin-top: 0;
    margin-left: 4px;
  }

  .errorEmail {
    margin-left: 16px;
    text-align: left;
  }

  .info {
    margin-bottom: 0px;
  }
  
  .subtitle {
    margin-top: 1.5rem;
    letter-spacing: 1px;
  }

  .sectionDesc {
    display: flex;
    justify-content: center;
    align-items: center;  
  }
}